@{
    ViewBag.Title = "Gazelle";
}

<div class="wrapper">
    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="primary-font">Gazelle Systems</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li class="active">Gazelle Systems</li>
                        <li>@Html.ActionLink("PowerQuest", "PowerQuest", "Home")</li>
                        <li>@Html.ActionLink("NumberGun", "NumberGun", "Home")</li>
                        <li>@Html.ActionLink("Awards", "Awards", "Home")</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">

                <h1>Gazelle Systems</h1>
                <p>
                    Around 1984, the enterpreneurial bug bit me.
                </p>
                <p>
                    I was the controller for a small company, Delstar Corporation, and thought they
                    needed some commercial software product that could help the company's sagging revenues. While at Delstar,
                    I had designed, written, and debugged a file manager I named
                    <cite><a href="https://books.google.com/books?id=yQc-6nkRfXMC&pg=PA214&lpg=PA214&dq=fileease+delstar&source=bl&ots=jv3ivrRELV&sig=naAW91oggCQNQNaO6pGGuD9HJA4&hl=en&sa=X&ved=0CCEQ6AEwAGoVChMIrbe2_NSexwIVQ5MNCh3fkQB-#v=onepage&q=fileease%20delstar&f=false">FileEase</a></cite>
                    (using <cite><a href="https://en.wikipedia.org/wiki/Turbo_Pascal">Turbo Pascal</a></cite> -- I loved that product!).
                    This was my first commercial product.
                </p>
                <p>
                    But I soon became frustrated with the
                    company being unable to pay me and realized it was time for me to leave.
                    I decided I would create a much better file manager,
                    but it had to be 10x faster. I had heard a lot about the C programming language and figured that was the ticket. I wasn't
                    really sure how to procede, but I knew I had to do it.
                </p>
                <p>
                    So it was off to the races. Around March 1985 I had very little money, but I figured my money could 
                    last until the end of the year. 
                    So in about 9 months, I taught myself C, 8088 assembly language, DOS internals, and
                    learned several BIOS hooks. I also had to figure out some undocumented DOS calls. And then our first product was
                    ready to launch.
                </p>
                <p>
                    I relied on my dad for some marketing tips for our first ad. He asked me, "Eric, if you really think this new product
                    of yours is so great, why don't you offer a double-your-money-back guarantee?" So I thought, hmmm... why not? And so we did.
                    We actually ran an A/B split with our first InfoWorld ad. The first ad was a double-your-money-back ad. 
                    <a target="_blank" href="https://books.google.com/books?id=nC8EAAAAMBAJ&pg=PA41&lpg=PA41&dq=gazelle+systems+provo&source=bl&ots=cCYpyOjTGn&sig=dT3BBSPL3wM874N0bDmZm5iISCg&hl=en&sa=X&ved=0CCwQ6AEwBDgKahUKEwiI0t_01OLGAhVKmoAKHTm_AGo#v=onepage&q=gazelle%20systems%20provo&f=false">
                        The second</a> was
                        a bit different: if you didn't like our product, tell us and we will refund your money and buy you the competitor's product
                        of your choice (a dangerous thing, as one of our competitors was priced at 3x our price).
</p>
                <p>
                    This was gutsy, but I knew that one of two things would absolutely happen:
                    <ol>
                        <li>We would get noticed immediately, and ...</li>
                        <li>We would either go bankrupt quickly, or soar.</li>
                    </ol>
                </p>
                <p>
                    We soared! And we got into lots of debt, barely hung on, 
                    and then sold the company for a song. I got just over $30k for my ownership, after turning down an option a year
                    before that would have netted me around $9 million (live and learn, that's what life's about, right?!).
                </p>
                <p>
                    I was surprised to find there's quite a bit of information about this great company available online. 
                </p>

                @*<p>
                    a couple links for our first trademark and an article about Steve Lynch whom I hired as president (to free me up
                    to do "other stuff").
                </p>
                <ul>
                    <li>
                        <a target="_blank" href="http://www.trademarkia.com/qdos-73596071.html">
                            My first trademark ever, for Q-DOS (looks kinda funny to me now)
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.deseretnews.com/article/68763/GAZELLE-SYSTEMS-CREATES-2ND-TOP-LEVEL-POSITION.html?pg=all">
                            I remain CEO, hire a president under me
                        </a>
                    </li>
                </ul>*@


                <p>
                    I created three main products: <cite>Q-DOS</cite>, <cite>Back-It</cite>, and <cite>OPTune</cite>. 
                    Here are some links for each of them... enjoy!
                </p>
            </div>
        </div>
        <div class="row">
            @* Q-DOS *@
            <div class="col-sm-8">
                <h3 id="Q-DOS">Q-DOS</h3>
                <h4>My first real commercial product!</h4>
                <p>
                    In nine months, I figured out how to program, doing things nobody else had done before.
                    I also created a marketing campaign,
                    learned how to manufacture diskettes and packaging, and launched the company. But the product was,
                    in fact, 10x faster than just about any other product out there when reading the directory structure
                    from the disk. I also figured out a very fast sorting algorithm (a modified comb sort) that, on those
                    wimpy 8086 computers, outperformed any other sort algorithm I could find such as heap sort, q-sort, several
                    others.
                </p>
                <p>
                    It was exhausing, but I still remember when our red phone rang with the
                    first order based on the ad we launched in InfoWorld... exhilarating!!  The phone worked until our
                    puppy chewed through the cord; this was our first IT disaster, so we traced the problem,
                    said "<em>Bad dog!</em>", spliced the cord, and waited for the next phone order.
                </p>
                <h4>Some links...</h4>
                <p>
                    These links show off my first product (a wonderful trip down memory lane... hopefully for some of you, too!):
                </p>
                <ul>
                    <li>
                        <a target="_blank" href="https://books.google.com/books?id=nC8EAAAAMBAJ&pg=PA41&lpg=PA41&dq=gazelle+systems+provo&source=bl&ots=cCYpyOjTGn&sig=dT3BBSPL3wM874N0bDmZm5iISCg&hl=en&sa=X&ved=0CCwQ6AEwBDgKahUKEwiI0t_01OLGAhVKmoAKHTm_AGo#v=onepage&q=gazelle%20systems%20provo&f=false">
                            Very first ad (sorry, the offer expired Jan. 31, 1986).
                        </a>
                        <p>
                            We also had a double-your-money-back offer that drove everybody crazy. But it launched the company...
                            and only about 1.5% asked for their money back!
                        </p>
                    </li>

                    @*<li>
                        <a target="_blank" href="http://www.amazon.com/Q-DOS-3/dp/B0009J8VW6">
                            Showing <cite>Q-DOS III</cite>
                        </a>
                        <p>Screenshots.</p>
                    </li>*@




                    <li>
                        <a target="_blank" href="https://books.google.com/books?id=u7WbsmbttwYC&pg=PT241&lpg=PT241&dq=gazelle+systems+provo&source=bl&ots=vQ_xaIZPYL&sig=xfzgpVWnNnGxkv02Bd8NKySTsNY&hl=en&sa=X&ved=0CC4Q6AEwBTgKahUKEwiI0t_01OLGAhVKmoAKHTm_AGo#v=onepage&q=gazelle%20systems%20provo&f=false">
                            "<cite>Q-DOS II</cite> is extremely fast ... quicker than its competition ...
                            the 126-page manual is helpful without being overly technical"
                        </a>
                        <p>After you click, go back one page to see this quote.</p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.danielsays.com/ss-gallery-dos-q-dos-ii-20.html">
                            <cite>Q-DOS II</cite> screenshots
                        </a>
                        <p>
                            I designed the look and feel and the guts of this program. The screenshots are definitely retro, but it brings back fun
                            memories. People told me it was cool that the highlight bar seemed to float over the vertical column lines, and it
                            was super quick. It took a while to get the logic for the Directory Map, but customers loved it. Directories and subdirectories
                            were new concepts, hard for most people to understand. And that's one of the main reasons I wrote <cite>Q-DOS</cite>... to be
                            able to help people understand them (today, most everyone calls 'em folders).
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href=" http://vetusware.com/download/QDOS%203.0/?id=3906">
                            <cite>Q-DOS 3.0</cite> download: "... one of the handiest and most useful file management tools for the DOS enviornment ..."
                        </a>
                        <p name="SigNews" id="SigNews">
                            Product entry on VetusWare.com from 1991.
                            The last poster listed (May 15, 2007) said the original developer passed away (
                            <a href="#SigNews"
title=
   "    I sold Gazelle Systems to Sig Shreyer, who then became the owner
    (and was CEO already when I had left earlier to start PowerQuest).
    Unfortunately, soon thereafter he died of a heart attack.
    At the time Sig died, it was true that the CEO and owner had died.
    But I, the original developer of the products, was was no longer 
    connected with the company.">
                                I need to let him know I'm alive and kicking!
                            </a>). Here are
                               <a target="_blank" href="http://www.deseretnews.com/article/443874/DEATH--SIG-L-SCHREYER.html?pg=all"/>more details about the buyer</a>.
            </li>
            <li>
                <a target="_blank" href="https://books.google.com/books?id=4RN8nH8oZ2QC&pg=PA61&lpg=PA61&dq=gazelle+systems+provo&source=bl&ots=3Op9LSJgn_&sig=08gTV83aoHoC5A0Sbv91FzPTTRc&hl=en&sa=X&ved=0CEUQ6AEwCGoVChMIypTY59TixgIVTNGACh3ofQ_P#v=onepage&q=gazelle%20systems%20provo&f=false">
                    The <cite>Q-DOS Collection</cite>
                </a>
                <p><cite>PC Magazine</cite> Feb 23, 1993</p>
            </li>
            <li>
                <a target="_blank" href="https://books.google.com/books?id=cTwEAAAAMBAJ&pg=PA109&lpg=PA109&dq=gazelle+systems+provo&source=bl&ots=Xswij_fBOi&sig=tIoqnL-MpM_kxtt5KYx0gLXU33o&hl=en&sa=X&ved=0CDgQ6AEwCDgKahUKEwiI0t_01OLGAhVKmoAKHTm_AGo#v=onepage&q=gazelle%20systems%20provo&f=false">
                    "<cite>Q-DOS III</cite> makes disk organization a breeze."
                </a>
                <p><cite>InfoWorld</cite> Mar 15, 1993</p>
            </li>
            </ul>
        </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <h3 id="Back-It">Back-It</h3>
                <h4>Everybody needs to backup...</h4>
                <p>
                    We needed a second product, since we now had a working distribution channel. Next on my list: a solid backup product. And it had
                    to be fast.
                </p>
                <p>
                    Memory was scarce in those days (mid to late 1980s), everything had to fit in 64k of memory (you could use extended memory, but there were
                    many potential solutions, some of which even worked!) One of the tricks I learned is that if I used assembly language,
                    my code would be smaller than otherwise, leaving more RAM available for file buffers; and more and larger buffers, with an
                    intelligent algorithm, could always speed up the process substantially.
                </p>
                <p>
                    So I used the <a target="_blank" href="http://www.desmet-c.com/">DeSmet C compiler</a> which allowed me to switch in and out of C and assembly
                    language, which I totally loved doing. So I was able to write, debug, and create Gazelle's second product quite quickly.
                </p>
                <p>
                    Total elapsed time to conceive, design, build, debug, test, and ship: 2 months.
                </p>
                <p>
                    Later, I got my hands on some Intel reference books (they weighed a couple pounds each) so I could figure out how to program
                    the floppy-disk controller and the DMA chip. After about the 50th time thru around 100 pages, it finally started to sink in,
                    and I was able to more than quadruple the speed of backups by overlapping read and write I/O. Very, very cool technology.
                </p>
                <p>
                    I also conceived of and designed a test (that Intel quickly asked for) that detected flawed DMA chips thru software; 
                    seems under certain conditions when overlapping reads and writes, the data would shift by one byte position on a sector 
                    about to be written... nasty!
                </p>
                <h4>Some links...</h4>
                <ul>
                    <li>
                        <a target="_blank" href="https://books.google.com/books?id=fSMW_RgWwIgC&pg=PT267&lpg=PT267&dq=gazelle+systems+provo&source=bl&ots=xSC1tOHTrL&sig=69CAvLb6RUXOAuo8f9olr5YfBqE&hl=en&sa=X&ved=0CDYQ6AEwBzgKahUKEwiI0t_01OLGAhVKmoAKHTm_AGo#v=onepage&q=gazelle%20systems%20provo&f=false">
                            <cite>Back-It [v. 3.1]</cite> is one of the fastest among the packages tested by PC Labs.
                        </a>
                        <p>
                            <cite>PC Magazine</cite> Aug 1989
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="https://books.google.com/books?id=ZS8EAAAAMBAJ&pg=PA23&lpg=PA23&dq=back-it+gazelle+systems+pc+week&source=bl&ots=w4WaaOJg7p&sig=e6QWzLuGDFZ02q7Jm7k2jV8hiIo&hl=en&sa=X&ved=0CDMQ6AEwCGoVChMIuM3d9bDqxgIVxZUNCh01BAzg#v=onepage&q=back-it%20gazelle%20systems%20pc%20week&f=false">
                            One of our first ads...
                        </a>
                        <p>
                            ... looks totally stupid now. There never was a version 1.0, we launched with v. 2.0. Amazing to get
                            letters from people saying "This new version is so much better than the previous one -- thank you!".
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="https://books.google.com/books?id=wDAEAAAAMBAJ&pg=PT21&lpg=PT21&dq=back-it+gazelle+systems+pc+week&source=bl&ots=O0LN9Jl2V1&sig=Ony5JMEFS56wHEKBG1ruhftdr-E&hl=en&sa=X&ved=0CDEQ6AEwB2oVChMIuM3d9bDqxgIVxZUNCh01BAzg#v=onepage&q=back-it%20gazelle%20systems%20pc%20week&f=false">
                            " ... hard disk backup ... as much as five times faster than using standard streaming-tape devices"
                        </a>
                        <p>
                            Yeah, it was fast. It was fun learning to talk directly to the floppy controller in assembly language.
                            At one time <cite>Back-It</cite> was the fastest floppy-controller-based backup on the planet (maybe even the solar system!).
                            In fact, our team made fun of what I kept saying about speed, so they presented me with a specially-
                            monogramed Speedo swimsuit that said on the back "<em>Because speed is everything!</em>". I never wore 'em, somehow they 
                            must have gotten thrown away.
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.danielsays.com/ss-gallery-dos-back-it-31.html">
                            <cite>Back-It 3.0</cite>
                        </a>
                        <p>
                            Screenshots
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="https://books.google.com/books?id=PzsEAAAAMBAJ&pg=PA164&lpg=PA164&dq=gazelle+systems+provo&source=bl&ots=A2MFEASV7f&sig=f78hmEn7Dj_muonieqA4p3nIELE&hl=en&sa=X&ved=0CB4Q6AEwADgKahUKEwiI0t_01OLGAhVKmoAKHTm_AGo#v=onepage&q=gazelle%20systems%20provo&f=false">
                            <cite>Back-It Easy</cite>
                        </a>
                        <p>
                            Our 'lite' version
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="https://books.google.com/books?id=voPUUGTC56UC&pg=PA375&lpg=PA375&dq=gazelle+systems+provo&source=bl&ots=Cuv_yhYr0y&sig=cleUUgyH9yQBCY6YmxNHlignB2U&hl=en&sa=X&ved=0CCAQ6AEwATgKahUKEwiI0t_01OLGAhVKmoAKHTm_AGo#v=onepage&q=gazelle%20systems%20provo&f=false">
                            PREPARE YOURSELF FOR THE COMING CRASH
                        </a>
                        <p>
                            Our ad in <cite>PC Magazine</cite> May 31, 1988
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <h3 id="OPTune">OPTune</h3>
                <h4>The fastest, bestest defragger/disk optimzer at the time</h4>
                <p>
                    Still workin' on this...
                </p>
                <ul>
                    <li>
                        <a target="_blank" href="http://www.deseretnews.com/article/120671/GAZELLE-SYSTEMS-OPTUNE-RATED-A-BEST-BUY.html?pg=all">
                            PC World rates OPTune a "Best Buy" (this was really cool!)
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.danielsays.com/ss-gallery-dos-optune-12.html">
                            OPTune 1.2 defragger (screen shots)
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.elisoftware.org/index.php?title=OPTune_Version_1.3_(PC,_3_1/2%22_Disk_and_5_1/4%22_Disk)_Gazelle_Systems_-_1990_USA,_Canada_Release">
                            Pictures of OPTune manual (hey, it was DOS 4.0 compatible!)
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://books.google.com/books?id=IUVVAAAAMAAJ&q=optune+pcworld+mace+utilities&dq=optune+pcworld+mace+utilities&hl=en&sa=X&ved=0CB4Q6AEwAGoVChMIreGHr6_ixgIVS5mACh1mCAdM">
                            Best Buy OPTune Take Defragging Speed Trophy, p. 138 (I really focused on speed)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    function CustomAlert(title_msg, output_msg)
    {
        if (!title_msg)
            title_msg = 'Alert';

        if (!output_msg)
            output_msg = 'No Message to Display.';


        $("<div></div>").html(output_msg).dialog({
            title: title_msg,
            resizable: false,
            modal: true,
            position: 'd',
            buttons: {
                "Ok": function() 
                {
                    $( this ).dialog( "close" );
                }
            }
        });
    }
    function SigSchreyer() {
        var d = $(".ui-dialog").position();
        alert("Testing...");
        window.scrollTo(d.left, d.top).("#Sig").dialog("open"); return false;
        //window.scrollTo(d.left, d.top);
        document.getElementById("Sig").showModal();
    }


</script>


